/*Color palette: https://coolors.co/palette/01161e-124559-598392-aec3b0-eff6e0*/

@font-face {
  font-family: SpecialElite;
  src: url('SpecialElite-Regular.ttf');
}

body {
  background-color: #01161e;
  margin: 0px;
  color: #eff6e0;
  font-family: Helvetica, sans-serif;
}

.c-brand {
  font-family: SpecialElite, 'Courier New', Courier, monospace;
}

main {
  background-color: #124559;
  max-width: 1000px;
  margin: auto;
}

.icon {
  float: left;
}
